<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      {{test-nav tests=model.tests summary=model.summary}}
    </div>
    <div class="col-md-9">
      {{report-env env=model.environment}}
      {{outlet}}
    </div>
  </div>
</div>
